@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Manrope:wght@700&display=swap');


html, body
{
    margin: 0;
    font-family: 'Commissioner', sans-serif;
}

*, *::before, *::after{
    box-sizing: border-box;
    outline: none;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover,
a:focus{
    color:#777777;
}

.logo{
    z-index: 6;
    left: 0;
}

.top-nav{
    display: flex;
    position:fixed;
    z-index: 4;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #c7c7c7;
    align-items: center;
    padding:15px 0 10px 0;
    border-bottom: 1px solid black;
}

.text-logo
{
    display: flex;
    justify-content: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size:xx-large;
}

.wrap{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 20px;
    position: relative;
}

.new-section-header
{
    text-transform: uppercase;
    margin: 30px 0 50px 0;
}